:root {
  --heading-font-family: "Licorice", cursive;
  --default-font-family: "Arsenal", sans-serif;
  --primary-colour: #283149;
  --secondary-colour: #404b69;
  --tertiary-colour: #00818a;
  --fourth-colour: #dbedf3;
  --primary-background-gradient: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  --secondary-background-gradient: linear-gradient(
    15deg,
    #13547a 0%,
    #80d0c7 100%
  );
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

body {
  background: var(--primary-background-gradient);
}
.navbar {
  background-color: var(--primary-background-gradient) !important;
}
.navbar .nav-link {
  color: var(--fourth-colour) !important;
}
.hero {
  text-align: center;
  padding: 70px 50px;
}
.hero h1 {
  font-family: var(--heading-font-family);
  color: var(--fourth-colour);
  font-size: 150px;
  font-weight: 100;
}
.hero p {
  font-family: var(--default-font-family);
  font-weight: 100;
  line-height: 30px;
  color: var(--fourth-colour);
  font-size: 30px;
}

button {
  background-color: var(--tertiary-colour);
  font-family: var(--default-font-family);
  color: var(--primary-colour);
  border: var(--secondary-colour);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: var(--primary-colour);
  color: var(--tertiary-colour);
}

.btn {
  background: var(--tertiary-colour);
  font-weight: 100;
}
.content a {
  margin: 20px;
  padding: 10px;
  background-color: var(--tertiary-colour);
  color: var(--primary-colour);
  border: var(--secondary-colour);
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--default-font-family);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.hero a {
  margin: 20px;
  padding: 10px;
  background-color: var(--tertiary-colour);
  color: var(--primary-colour);
  border: var(--secondary-colour);
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--default-font-family);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

a:hover {
  background-color: var(--primary-colour);
  color: var(--tertiary-colour);
}

.subhero {
  color: var(--fourth-colour);
}
.subhero h3 {
  font-size: 50px;
  font-weight: 300;
}
.subhero p {
  font-size: 15px;
  padding: 20px;
  text-align: center;
}
.container {
  display: grid;
  justify-items: center;
}
.subhero .project-description {
  font-size: 20px;
  font-weight: 100;
}
.project-introduction {
  text-align: center;
  justify-items: center;
}
.subhero img {
  border-radius: 20px;
  background: var(--secondary-background-gradient);
  max-height: 600px;
}
@media (max-width: 960px) {
  .subhero img {
    padding: 10px;
  }
  .subhero p {
    font-size: 10px;
  }
  .subhero .project-description {
    font-size: 13px;
  }
  .subhero h3 {
    font-size: 25px;
  }
  .hero h1 {
    font-size: 70px;
  }
  .hero p {
    font-size: 15px;
  }
}

.content {
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  background: var(--secondary-background-gradient);
  color: var(--primary-colour);
}
.content h1 {
  font-weight: 500;
  padding: 20px;
  margin: 40px;
}
.content img {
  max-height: 500px;
}
.content p {
  padding: 40px;
  font-weight: 100;
}

.content-technologies {
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  background: var(--secondary-background-gradient);
  color: var(--primary-colour);
}

.content-technologies .container {
  font-size: 13px;
  font-weight: 300;
}
.content-technologies img {
  max-width: 30px;
}

@media (max-width: 960px) {
  .content-technologies .container {
    font-size: 10px;
    font-weight: 300;
  }
  .content-technologies img {
    max-width: 20px;
  }
}
